<?php

const MOODLE_DB_HOST = 'localhost';
const MOODLE_DB_PORT = '3306';
const MOODLE_DB_USERNAME = 'root';
const MOODLE_DB_PASSWORD = '';
const MOODLE_DB_SCHEMA = 'eadcriap_eadmood';

const HT_DB_HOST = 'localhost';
const HT_DB_USERNAME = '';
const HT_DB_PASSWORD = '';
const HT_DB_SCHEMA = 'moodleSVHT';

const DATE_TO_CONVERT_FORMAT = "Y-m-d H:i:s";
const EVALUATION_TIMES = ['Normal', 'Recurso', 'Especial', 'Extraordinário'];

const SOURCE_ENCODE = 'UTF-8';
const DESTINY_ENCODE = 'Windows-1252';

/**
 * Variable that sets the datetime or time difference of the courses to query
 *
 * For exact date use format "Y-m-d": eg. '2020-01-01'
 * For time interval use format "- number_of_unit time_unit" eg. '-1 month'
 */
const START_DATETIME_OR_INTERVAL_FOR_COURSES_STARTED = '2020-01-01';